name: 'Terraform'

on:
  push:
    branches: 
       - "main"

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "ap-southeast-1"

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: terraform init

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      run: terraform fmt

    # Generates an execution plan for Terraform
    - name: Terraform Plan
      run: terraform plan

    # On push to "main", build or change infrastructure according to Terraform configuration files
    # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
    - name: Terraform Apply
      run: terraform apply -auto-approve

    #- name: Terraform destroy
    #   run: terraform destroy -auto-approve

    # 4. Get the Project Name from Terraform Output
    - name: Get CodeBuild Project Name
      id: tf-output
      run: |
        # Captures the output we added in Step 1
        PROJECT_NAME=$(terraform output -raw codebuild_project_name)
        echo "project_name=$PROJECT_NAME" >> $GITHUB_OUTPUT

    # 5. Trigger the CodeBuild Project
    - name: Trigger AWS CodeBuild
      run: |
        echo "Triggering CodeBuild Project: ${{ steps.tf-output.outputs.project_name }}"
        BUILD_ID=$(aws codebuild start-build --project-name ${{ steps.tf-output.outputs.project_name }} --query 'build.id' --output text)
        echo "Build started successfully! Build ID: $BUILD_ID"
        echo "Go to AWS Console -> CodeBuild to view progress."